# Licensed under the Apache License, Version 2.0 or the MIT License.
# SPDX-License-Identifier: Apache-2.0 OR MIT
# Copyright Tock Contributors 2023.

*

!kernel/
!kernel/src/
!kernel/src/hil/
!kernel/src/hil/*
!kernel/src/hil/public_key_crypto/
!kernel/src/hil/public_key_crypto/*
!capsules/
!caspules/*
!boards/
!boards/nucleo_u545re_q/
!boards/nucleo_u545re_q/*
!boards/nucleo_u545re_q/src/
!boards/nucleo_u545re_q/src/*
!boards/nucleo_u545re_q/.cargo/
!boards/nucleo_u545re_q/.cargo/*
!chips/
!chips/stm32u5xx/
!chips/stm32u5xx/*
!chips/stm32u5xx/src
!chips/stm32u5xx/src/*
!chips/stm32u545/
!chips/stm32u545/*
!chips/stm32u545/src
!chips/stm32u545/src/*
